<div id="content">
    <div class="card mt-3 employe">
        <div class="card-header entete display-6 ">Mes Informations client</div>
        <div class="card-body" *ngFor="let cli of list()">
    
            <div name="1" class="card2">
            <div class="card card1">
                <div class="card-body">
                  <h5 class="card-title">Nom</h5>
                  <p class="card-text">{{cli.nom}}</p>
                </div>
              </div>
    
              <div class="card card1">
                <div class="card-body">
                  <h5 class="card-title">Prénom</h5>
                  <p class="card-text">{{cli.prenom}}</p>
                </div>
              </div>
            </div>

            <div name="2" class="card2">
              <div class="card card1">
                <div class="card-body">
                  <h5 class="card-title">Email</h5>
                  <p class="card-text">{{cli.email}}</p>
                </div>
              </div>
    
              <div class="card card1">
                <div class="card-body">
                  <h5 class="card-title">Mot de passe</h5>
                  <p class="card-text">{{cli.password}}</p>
                </div>
              </div>
            </div>


            <div name="1" class="card2">
              <div class="card card1">
                  <div class="card-body">
                    <h5 class="card-title">Numéro</h5>
                    <p class="card-text">{{cli.adresse.numero}}</p>
                  </div>
                </div>
      
                <div class="card card1">
                  <div class="card-body">
                    <h5 class="card-title">Voie</h5>
                    <p class="card-text">{{cli.adresse.voie}}</p>
                  </div>
                </div>
              </div>
  
              <div name="2" class="card2">
                <div class="card card1">
                  <div class="card-body">
                    <h5 class="card-title">Code Postal</h5>
                    <p class="card-text">{{cli.adresse.cp}}</p>
                  </div>
                </div>
      
                <div class="card card1">
                  <div class="card-body">
                    <h5 class="card-title">Ville</h5>
                    <p class="card-text">{{cli.adresse.ville}}</p>
                  </div>
                </div>
              </div>
    </div>
          
    </div>
    
    <div id="contentdroite">
    <div class="card mt-3 commande">
        <div class="card-header entete display-6">Commandes en cours</div>
        <div class="card-body max">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>Numero de commande</th>
                        <th>Date d'arrivée</th>
                        <th>Heure d'arrivée</th>
                        <th>Statut de la commande</th>
                        <th></th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr *ngFor="let com of listCommandesPastermine()">
                    <td>{{com.numero}}</td>
                    <td>{{com.dateArrivee | date:"dd/MM/yyyy"}}</td>
                    <td>{{com.heureArrive}}</td>
                    <td >{{com.etatcommande}}</td>
                    <td></td>
                    </tr>
                </tbody>
              
            </table>
        </div>
      
    </div>
    
    <div class="card mt-3 hcommande">
        <div class="card-header entete display-6">Historique des commandes</div>
        <div class="card-body max">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                      <th>Numero de commande</th>
                      <th>Date de commande</th>
                      <th>Heure d'arrivée</th>
                      <th>Statut de la commande</th>
                    </tr>
                </thead>
    
                <tbody>
                  <tr *ngFor="let com of listCommandestermine()">
                    <td>{{com.numero}}</td>
                    <td>{{com.dateArrivee | date:"dd/MM/yyyy"}}</td>
                    <td>{{com.heureArrive}}</td>
                    <td>{{com.etatcommande }}</td>
                   </tr>
                </tbody>
    
            </table>
        </div>
      
    </div>
    </div>
    
