<div id="content">
    <div class="card mt-3 employe">
        <div class="card-header entete display-6 ">Informations employé</div>
        <div class="card-body" >
    
            <div name="1" class="card2">
            <div class="card card1">
                <div class="card-body">
                  <h5 class="card-title">Identifiant</h5>
                  <p class="card-text">{{employeconnecte().id}}</p>
                </div>
              </div>
    
              <div class="card card1">
                <div class="card-body">
                  <h5 class="card-title">Nom</h5>
                  <p class="card-text">{{employeconnecte().nom}}</p>
                </div>
              </div>
            </div>

            <div name="2" class="card2">
              <div class="card card1">
                <div class="card-body">
                  <h5 class="card-title">Prénom</h5>
                  <p class="card-text">{{employeconnecte().prenom}}</p>
                </div>
              </div>
    
              <div class="card card1">
                <div class="card-body">
                  <h5 class="card-title">Email</h5>
                  <p class="card-text">{{employeconnecte().email}}</p>
                </div>
              </div>
            </div>


            <div name="1" class="card2">
              <div class="card card1">
                  <div class="card-body">
                    <h5 class="card-title">Numéro</h5>
                    <p class="card-text">{{employeconnecte().adresse.numero}}</p>
                  </div>
                </div>
      
                <div class="card card1">
                  <div class="card-body">
                    <h5 class="card-title">Voie</h5>
                    <p class="card-text">{{employeconnecte().adresse.voie}}</p>
                  </div>
                </div>
              </div>
  
              <div name="2" class="card2">
                <div class="card card1">
                  <div class="card-body">
                    <h5 class="card-title">Code Postal</h5>
                    <p class="card-text">{{employeconnecte().adresse.cp}}</p>
                  </div>
                </div>
      
                <div class="card card1">
                  <div class="card-body">
                    <h5 class="card-title">Ville</h5>
                    <p class="card-text">{{employeconnecte().adresse.ville}}</p>
                  </div>
                </div>
              </div>
    </div>
          
    </div>
    
    <div id="contentdroite">
    <div class="card mt-3 commande">
        <div class="card-header entete display-6">Commandes en cours</div>
        <div class="card-body max">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>Numero</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Date d'arrivée</th>
                        <th>Heure d'arrivée</th>
                        <th>Statut de la commande</th>
                        <th>Nouveau statut</th>
                        <th></th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr *ngFor="let com of listCommandesPastermine()">
                    <td>{{com.numero}}</td>
                    <td>{{com.client.nom}}</td>
                    <td>{{com.client.prenom}}</td>
                    <td>{{com.dateArrivee | date:"dd/MM/yyyy"}}</td>
                    <td>{{com.heureArrive}}</td>
                    <td >{{com.etatcommande}}</td>

                    <td>  <div class="btn-group btn-group-lg float-right " >
                        <a class="btn cours bouton"  (click)="Encours(com.numero)"><i class="bi bi-check-square-fill"></i></a>
                        <a class="btn prete bouton" (click)="Prete(com.numero)"><i class="bi bi-check-square-fill"></i></a>
                        <a class="btn termine bouton" (click)="termine(com.numero)"><i class="bi bi-check-square-fill"></i></a>
                  </div></td>
                    <td></td>
                    </tr>
                </tbody>
              
            </table>
        </div>
      
    </div>
    
    <div class="card mt-3 hcommande">
        <div class="card-header entete display-6">Historique des commandes</div>
        <div class="card-body max">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                      <th>Numero</th>
                      <th>Nom</th>
                      <th>Prenom</th>
                      <th>Date d'arrivée</th>
                      <th>Heure d'arrivée</th>
                      <th>Statut de la commande</th>
                      <th>Nouveau statut</th>
                    </tr>
                </thead>
    
                <tbody>
                  <tr *ngFor="let com of listCommandestermine()">
                    <td>{{com.numero}}</td>
                    <td>{{com.client.nom}}</td>
                    <td>{{com.client.prenom}}</td>
                    <td>{{com.dateArrivee | date:"dd/MM/yyyy"}}</td>
                    <td>{{com.heureArrive}}</td>
                    <td>{{com.etatcommande }}</td>
                    <td>  <div class="btn-group btn-group-lg float-right " >
                      <a class="btn cours bouton"  (click)="Encours(com.numero)"><i class="bi bi-check-square-fill"></i></a>
                      <a class="btn prete bouton"  (click)="Prete(com.numero)"><i class="bi bi-check-square-fill"></i></a>
                </div></td>
                   </tr>
                </tbody>
    
            </table>
        </div>
      
    </div>

    <div class="card mt-3 hcommande" >
      <div class="card-header entete display-6">Detail de la commande</div>
      <div class="card-body max">
          <table class="table">
              <thead class="table-dark">
                  <tr>
                    <th>Numero</th>
                    <th>Quantité</th>
                    <th>Prix Total </th>
                    <th>Produit</th>
                  </tr>
              </thead>
  
              <tbody>
                <tr *ngFor="let ligne of lignes">
                  <td>{{ligne.id}}</td>
                  <td>{{ligne.qte}}</td>
                  <td>{{ligne.total}}</td>
                  <td>{{ligne.produit.libelle}}</td>
                  <td></td>
                 </tr>
              </tbody>
  
          </table>
      </div>
    
  </div>

    </div>
    