<div id="content">
    <div class="card mt-3 formateur">
        <div class="card-header bg-success text-white display-6 ">Information formateur</div>
        <div class="card-body">
    
            <div name="1" class="card2">
            <div class="card card1">
                <div class="card-body">
                  <h5 class="card-title">Identifiant</h5>
                  <p class="card-text"></p>
                </div>
              </div>
    
              <div class="card card1">
                <div class="card-body">
                  <h5 class="card-title">Version</h5>
                  <p class="card-text"></p>
                </div>
              </div>
            </div>

            <div name="3" class="card2">
              <div class="card card1">
                <div class="card-body">
                  <h5 class="card-title">Prénom</h5>
                  <p class="card-text"></p>
                </div>
              </div>
    
              <div class="card card1">
                <div class="card-body">
                  <h5 class="card-title">Email</h5>
                  <p class="card-text"></p>
                </div>
              </div>
            </div>
    
          
    </div>
    
    <div id="contentdroite">
    <div class="card mt-3 filiere">
        <div class="card-header bg-success text-white display-6">Liste des filières référent</div>
        <div class="card-body">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>Identifiant</th>
                        <th>Version</th>
                        <th>Libelle</th>
                        <th>Date de début</th>
                        <th>Date de fin</th>
                    </tr>
                </thead>
    
                <tbody>
                    <tr>
                       
                    <tr>
                </tbody>
    
            </table>
        </div>
      
    </div>
    
    <div class="card mt-3 matiere">
        <div class="card-header bg-success text-white display-6">Liste des matières</div>
        <div class="card-body">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>Identifiant</th>
                        <th>Version</th>
                        <th>Libelle</th>
                        <th>Quest</th>
                    </tr>
                </thead>
    
                <tbody>
                    <tr >
                      


                    </tr>
                </tbody>
    
            </table>
        </div>
      
    </div>
    </div>
    
    </div>
    
    
    
    
    