  <html>
  <div class="logo" >
    <a> <img width="250" height="250" alt="Logo So'Pain Steria" src="..\..\assets\images\Logosansfond.png"></a>
  </div>
  

  <div id="content2">
  
  <div class="form2">
  
    <form method="" action="">
      <br>
      <h3>Connexion</h3>
      <br>
  
      <div><input placeholder="Email "  type="email" title="Email" class="form" id="login" name="login" [(ngModel)]="connectedDTO.login"/></div>
      <div><input type="password" required class="form" id="password" name="password" pattern="[A-z0-9!@#$&*?-]{4,8}" placeholder="Mot de passe " type="password" title="4 a 8 caracteres" [(ngModel)]="connectedDTO.password"  /></div>

  
  
      <div class="btn">
        <button class="btn btn-success" (click)="seconnecter()">Je me connecte</button>
        <button class="btn btn-secondary" [routerLink]="['']" >Retour</button>
      </div>
  
    </form>
  </div>
  
  </div>
  </html>
  