<section class="text-center container">

    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">MON PANIER</h1>
        <p class="lead text-muted">Validez ici votre panier</p>
      </div>
    </div>
  </section>

  <section class="h-100 h-custom" style="background-color: #d2c9ff;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-8">
                  <div class="p-5">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                      <h1 class="fw-bold mb-0 text-black">Mes articles</h1>
                      <h6 class="mb-0 text-muted">{{articles.length}} articles</h6>
                    </div>
                    <hr class="my-4">

                    <div class="row mb-4 d-flex justify-content-between align-items-center" *ngFor="let prod of articles">
                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <img
                        src="{{prod.image_ref}}"
                        class="img-fluid rounded-3" alt="{{prod.libelle}}">
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3">
                       <!--  <h6 class="text-muted" *ngIf="isBasique(prod)"> {{prod.categorie}}</h6> -->
                        <h6 class="text-black mb-0">{{prod.libelle}}</h6>
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                        <button class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                        <i class="fas fa-minus"></i>
                      </button>

                      <input id="form1" min="0" name="quantity" value="1" type="number"
                      class="form-control form-control-sm" />

                      <button class="btn btn-link px-2"
                      onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                  <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                    <h6 class="mb-0">{{prod.prix | currency:'EUR'}}</h6>
                  </div>
                  <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                    <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                  </div>
                </div>

                <hr class="my-4">


        <div class="pt-5">
          <h6 class="mb-0"><a [routerLink]="['/patisserie']" class="text-body"><i
            class="fas fa-long-arrow-alt-left me-2"></i>Revenir aux produits</a></h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 bg-grey">
        <div class="p-5">
          <h3 class="fw-bold mb-5 mt-2 pt-1">Résumé</h3>
          <hr class="my-4">

          <div class="d-flex justify-content-between mb-4">
            <h5 class="text-uppercase">{{articles.length}} artciles</h5>
            <h5>{{getTotal() | currency:'EUR'}}</h5>
          </div>

          <h5 class="text-uppercase mb-3">Code réduction</h5>

          <div class="mb-5">
            <div class="form-outline">
              <input type="text" id="form3Examplea2" placeholder="Saisir votre code" class="form-control form-control-lg" />
            </div>
          </div>

          <hr class="my-4">

          <div class="d-flex justify-content-between mb-5">
            <h5 class="text-uppercase">Total</h5>
            <h5>{{getTotal() | currency:'EUR'}}</h5>
          </div>



          
          <button (click)="showText = !showText; " class="btn btn-dark btn-block btn-lg" data-mdb-ripple-color="dark">
            Valider mon panier</button>
          </div>
        </div>
      </div>
    </div>



          <form>
            <div class="form-group" *ngIf="showText" class="container py-5 h-10">
              <label for="date">Choisissez le jour de retrait de votre commande : </label>
              <input type="date" id="date" name="date" class="form-control" required  >
            </div>
            
            <div class="form-group" *ngIf="showText" class="container py-5 h-10">
              <label for="time">Choisissez l'heure de retrait de votre commande :</label>
              <input type="time" id="time" name="time" class="form-control" required>
            </div>
            
            <form  >
              <div class="form-group" *ngIf="showText2 && showText" >
                <label>Choisissez votre méthode de paiement :</label>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="paymentMethod" id="on-site" value="on-site" [(ngModel)]="selectedPaymentMethod">
    <label class="form-check-label" for="on-site">
      Sur place
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="paymentMethod" id="online" value="online" [(ngModel)]="selectedPaymentMethod">
    <label class="form-check-label" for="online">
      En ligne
    </label>
  </div>
               
          <p></p>
            
          
        

    
            <div class="form-group" *ngIf="selectedPaymentMethod === 'online'" >
              <label for="card-number" *ngIf="showText" >Numéro de carte de crédit :</label>
              <input type="text" class="form-control" id="card-number" [(ngModel)]="cardNumber">
              <button type="button" class="btn btn-dark btn-block btn-lg" target="_blank" (click)="pay()">Payer</button>

            </div>

            <div class="form-group" *ngIf="selectedPaymentMethod === 'on-site'" >
              
              <button type="button" class="btn btn-dark btn-block btn-lg" target="_blank" (click)="validate()">Valider</button>

            </div>
          

       
        </div>
        





