
<section class="text-center container">
  <h1 class="fw-light">LES VIENNOISERIES</h1><br>
  <p class="lead text-muted">
    Un savoir faire qui se perd dans les boulangeries même dites « artisanales ». <br>

    Chez <i><b>So'pain Steria</b></i> on vous promet qu’on les fait et que vous allez vous régaler !<br>

    Il n’y a qu’à goûter pour vous faire une idée…
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        
      </div>
    </div>
  </section>

  <div class="album bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      <div class="col" *ngFor="let v of viens">
        <div class="card shadow-sm">
          <figure><div class="bg-image hover-zoom"><img src="..\..\assets\images\{{v.image_ref}}" class="w-100" alt="Choux Crème" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false"><div class="centered">.
          </div></div><figcaption>{{v.libelle}}</figcaption></figure>
          <div class="card-body">
            <p class="card-text"> <h4>{{v.libelle}}</h4>
              <span [innerHTML]="v.description"></span>
              <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Ajouter aux favoris</button>
                <button type="button" (click)="addToCart(v,1)" class="btn btn-sm btn-outline-secondary">Ajouter au Panier</button>
              </div>
              <small class="text-muted">{{v.prix | currency:'EUR'}}</small>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>



