
<section class="text-center container">
  <h1 class="fw-light">LES VIENNOISERIES</h1><br>
  <p class="lead text-muted">
    Un savoir faire qui se perd dans les boulangeries même dites « artisanales ». <br>

    Chez <i><b>So'pain Steria</b></i> on vous promet qu’on les fait et que vous allez vous régaler !<br>

    Il n’y a qu’à goûter pour vous faire une idée…
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        
      </div>
    </div>
  </section>

  <div class="album bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" >
        <div class="col">
          <div class="card shadow-sm">
            <figure><div class="bg-image hover-zoom"><img src="..\..\assets\images\croissant2.jpg" class="w-100" alt="baguette" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false"><div class="centered">.
            </div></div><figcaption>Croissant</figcaption></figure>
            <div class="card-body">
              <p class="card-text">
                <h4>Croissant</h4>
                <i>Le croissant traditionnel par excellence.</i><br><br>
              Pâte feuilletée,2 barres de chocolat noir 66%<br>
              Étiquettes: Gluten,Lait,Oeufs<br><br><br><br>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"data-toggle="collapse" data-target="#texte-cache">Voir</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ajouter au Panier</button>
                </div>
                <small class="text-muted">1,10 €</small>
              </div>
            </div>
          </div>
        </div>

  
             
        <div class="col">
          <div class="card shadow-sm">
            <figure><div class="bg-image hover-zoom"><img src="..\..\assets\images\chocolatine.jpeg" class="w-100" alt="chocolatine" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false"><div class="centered">.
            </div></div><figcaption>Chocolatine</figcaption></figure>
            <div class="card-body">
              <p class="card-text">  <h4>Chocolatine</h4>
                <i>Son feuilletage et ses barrettes de chocolat sont à croquer.</i><br><br>
                2 barres de chocolat noir 66%<br>
                Étiquettes: Gluten,Lait,Oeufs<br><br><br>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ajouter au Panier</button>
                </div>
                <small class="text-muted">1,20 €</small>
              </div>
            </div>
          </div>
        </div>
       
        <div class="col">
          <div class="card shadow-sm">
            <figure><div class="bg-image hover-zoom"><img src="..\..\assets\images\canele.jpg" class="w-100" alt="Canelé" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false"><div class="centered">.
            </div></div><figcaption>Canelé</figcaption></figure>
            <div class="card-body">
              <p class="card-text"><h4>Canelé</h4>
                <i>Texture croustillante à l'extérieur et moelleuse à l'intérieur des canelés, une douceur bordelaise incontournable.</i><br><br>
                Pâte Feuilletée,Pépite de Chocolat,Crème Pâtissière.<br>
                Étiquettes: Gluten,Lait,Oeufs
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ajouter au Panier</button>
                </div>
                <small class="text-muted">1,60 €</small>
              </div>
            </div>
          </div>
        </div>

       
        <div class="col">
          <div class="card shadow-sm">
            <figure><div class="bg-image hover-zoom"><img src="..\..\assets\images\painauxraisins2.jpeg" class="w-100" alt="pain aux raisins" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false"><div class="centered">.
            </div></div><figcaption>Pain aux Raisins</figcaption></figure>
            <div class="card-body">
              <p class="card-text">
                <h4>Pain aux Raisins</h4>
                <i>Feuilleté au Beurre pur agrémenté de raisins blonds sur leur lit de crème pâtissière légère vanillée.</i><br><br>
                Pâte Feuilletée, Raisin,Crème Pâtissière<br>
                Étiquettes:Arachides,Fruits à coques,Gluten,Lait,Oeufs<br><br>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ajouter au Panier</button>
                </div>
                <small class="text-muted">1,20 €</small>
              </div>
            </div>
          </div>
        </div>


        <div class="col">
          <div class="card shadow-sm">
            <figure><div class="bg-image hover-zoom"><img src="..\..\assets\images\chaussonauxpommes2.jpeg" class="w-100" alt="Chausson aux pommes" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false"><div class="centered">.
            </div></div><figcaption>Chausson aux Pommes</figcaption></figure>
            <div class="card-body">
              <p class="card-text">
                <h4>Chausson aux Pommes</h4>
                <i>Le chausson aux pommes traditionnel relevé d’une vanille gourmande.</i><br><br>
                Pâte Feuilletée, Composée de Pommes Fraiche<br>
                Étiquettes:Gluten,Lait,Oeufs<br><br><br>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ajouter au Panier</button>
                </div>
                <small class="text-muted">1,80 €</small>
              </div>
            </div>
          </div>
        </div>


        <div class="col">
          <div class="card shadow-sm">
            <figure><div class="bg-image hover-zoom"><img src="..\..\assets\images\brioche-suisse.jpeg" class="w-100" alt="Brioche Suisse" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false"><div class="centered">.
            </div></div><figcaption>Brioche Suisse</figcaption></figure>
            <div class="card-body">
              <p class="card-text">
                <h4>Brioche Suisse</h4>
                <i>La délicieuse brioche suisse, avec son moelleux incomparable et son cœur de crème pâtissière fondante qui vous fera craquer à chaque bouchée.</i><br><br>
                Pâte Feuilletée,Pépite de Chocolat,Crème Pâtissière.<br>
                Étiquettes : Gluten,Lait,Oeufs
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ajouter au Panier</button>
                </div>
                <small class="text-muted">1,80 €</small>
              </div>
            </div>
          </div>
        </div>


        <div class="col">
          <div class="card shadow-sm">
            <figure><div class="bg-image hover-zoom"><img src="..\..\assets\images\brioche.png" class="w-100" alt="Briochette" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false"><div class="centered">.
            </div></div><figcaption>Briochette</figcaption></figure>
            <div class="card-body">
              <p class="card-text"><h4>Briochette au Chocolat</h4>
                <i>Bbrioche aux pépites de chocolat, avec une mie moelleuse et des éclats de chocolat fondants qui vous feront fondre de plaisir à coup sûr.</i><br><br>
                Pâte Feuilletée,Pépite de Chocolat,Crème Pâtissière .<br>
                Étiquettes : Gluten, Lait, Oeufs
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ajouter au Panier</button>
                </div>
                <small class="text-muted">1,40 €</small>
              </div>
            </div>
          </div>
        </div>


 
       

