<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="container">

    <h1 class="display-4 fw-normal"><i>Le pain, un savoir-faire ancestral, une passion familiale !</i> <br><br></h1>
    <p class="lead fw-normal"> 

      Votre boulangerie So'Pain Steria vous accueille au 123 Rue Boulangerie à Paris, du lundi au vendredi de 7h à 20h, le samedi de 9h à 19h et le dimanche de 7h30 à 13 h.<br><br>
      Lancée par une équipe de Sopra Steria en décembre 2022, cette aventure témoigne d’une passion vive pour le métier de commerçant, pour le meilleur service possible.<br>
      <br>S’améliorer chaque jour, vous proposer des produits de qualité et un service irréprochable afin de VOUS satisfaire, <br>
      sont les raisons qui font que, chaque jour,  chacun des membres de notre équipe se met au travail avec enthousiasme !
      <br><br>
      <h4>DES PRODUITS FABRIQUÉS SUR PLACE<br></h4>
      Tous nos produits boulangers sont faits sur place.<br>
      Nos artisans boulangers donnent le meilleur d’eux-mêmes à partir de farines 100 % françaises.<br>
      C’est la garantie d’un goût savoureux et d’une qualité excellente ! La voilà, la recette du régal    
    </div>

<br><br>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="display-5 text-center my-4">Notre Équipe</h2>
        <p class="lead text-center">On vous présente l'équipe de Sopain Steria.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card shadow-sm mb-5">
          <img class="card-img-top" src="..\..\assets\images\aurelien.jpg" alt="Aurélien">
          <div class="card-body text-center">
            <h3 class="card-title">Aurélien</h3>
            <p class="card-text">Notre chef Pâtissier.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card shadow-sm mb-5">
          <img class="card-img-top" src="chemin/vers/image2.jpg" alt="Cedric">
          <div class="card-body text-center">
            <h3 class="card-title">Cedric</h3>
            <p class="card-text">Notre chef Boulanger.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card shadow-sm mb-5">
          <img class="card-img-top" src="..\..\assets\images\farah.JPG" alt="Farah">
          <div class="card-body text-center">
            <h3 class="card-title">Farah</h3>
            <p class="card-text">Notre Community Manager.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card shadow-sm mb-5">
          <img class="card-img-top" src="chemin/vers/image4.jpg" alt="Youssef">
          <div class="card-body text-center">
            <h3 class="card-title">Youssef</h3>
            <p class="card-text">Notre expert comptable.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  

</div>