

<div class="container-fluid pb-3">

    <div class="d-grid gap-3" style="grid-template-columns: 1fr 2fr;">


      <div class="bg-light border rounded-3">
        <img src="..\..\assets\images\pexels-mariana-kurnyk-1775032.jpg"
        class="w-100" alt="baguette" width="80" height="600" preserveAspectRatio="xMidYMid slice" 
        focusable="false"><div class="centered"></div>
        <br><br><br><br><br><br><br><br><br><br>
      </div>

      <div class="bg-light border rounded-3">
        
        Le pain, un savoir-faire ancestral, une passion familiale !<br>
        Votre boulangerie So'Pain Steria vous accueille au ..., du lundi au samedi de 7h30 à 19h et le dimanche de 7h30 à 13 h.<br>
        Lancée par une équipe de Sopra Steria en décembre 2022, cette aventure témoigne d’une passion vive pour le métier de commerçant, pour le meilleur service possible et, bien sûr, pour la restauration et l’alimentation.<br>
        S’améliorer chaque jour, vous proposer des produits de qualité et un service irréprochable afin de VOUS satisfaire, <br>
        sont les raisons qui font que, chaque jour,  chacun des membres de notre équipe se met au travail avec enthousiasme !
        <br><br>
        <h4>DES PRODUITS FABRIQUÉS SUR PLACE<br></h4>
        Tous nos produits boulangers sont faits sur place.<br>
        Nos artisans boulangers donnent le meilleur d’eux-mêmes à partir de farines 100 % françaises.<br>
        C’est la garantie d’un goût savoureux et d’une qualité excellente ! La voilà, la recette du régal    <br>    
        <br><br><br><br><br><br><br><br><br><br>
      </div>


    </div>

  </div>