<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="container">

    <h1 class="display-4 fw-normal"><i>Le pain, un savoir-faire ancestral, une passion familiale !</i> <br><br></h1>
    <p class="lead fw-normal"> 

      Votre boulangerie So'Pain Steria vous accueille au ..., du lundi au samedi de 7h30 à 19h et le dimanche de 7h30 à 13 h.<br><br>
      Lancée par une équipe de Sopra Steria en décembre 2022, cette aventure témoigne d’une passion vive pour le métier de commerçant, pour le meilleur service possible.<br>
      <br>S’améliorer chaque jour, vous proposer des produits de qualité et un service irréprochable afin de VOUS satisfaire, <br>
      sont les raisons qui font que, chaque jour,  chacun des membres de notre équipe se met au travail avec enthousiasme !
      <br><br>
      <h4>DES PRODUITS FABRIQUÉS SUR PLACE<br></h4>
      Tous nos produits boulangers sont faits sur place.<br>
      Nos artisans boulangers donnent le meilleur d’eux-mêmes à partir de farines 100 % françaises.<br>
      C’est la garantie d’un goût savoureux et d’une qualité excellente ! La voilà, la recette du régal    
    </div>
  </div>

  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>


  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Notre Equipe</h2>
        <p class="lead">On vous présente l'équipe de Sopain Steria.</p>
      </div>


      <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 py-3">
            <h2 class="display-5"><h3>Aurélien</h3>
            <p class="lead">And an even wittier subheading.</p>
         
          <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        
       <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 py-3">
            <h2 class="display-5"><h3>Aurélien</h3>
            <p class="lead">And an even wittier subheading.</p>
         
          <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    
    
          <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
            <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
              <div class="my-3 py-3">
                <h2 class="display-5">Farah</h2>
                <p class="lead">And an even wittier subheading.</p>
              </div>
              <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
            </div>
            <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
              <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                  <h2 class="display-5">Youssef</h2>
                  <p class="lead">And an even wittier subheading.</p>
                </div>
                <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
              </div>
    
    