<div id="content">
    <div class="card mt-3 employe">
        <div class="card-header entete display-6 ">Informations employé</div>
        <div class="card-body">
    
            <div name="1" class="card2">
            <div class="card card1">
                <div class="card-body">
                  <h5 class="card-title">Nom</h5>
                  <p class="card-text">{{employeconnecte().nom}}</p>
                </div>
              </div>
    
              <div class="card card1">
                <div class="card-body">
                  <h5 class="card-title">Prénom</h5>
                  <p class="card-text">{{employeconnecte().prenom}}</p>
                </div>
              </div>
            </div>

            <div name="2" class="card2">
              <div class="card card1">
                <div class="card-body">
                  <h5 class="card-title">Email</h5>
                  <p class="card-text">{{employeconnecte().email}}</p>
                </div>
              </div>
    
              <div class="card card1">
                <div class="card-body">
                  <h5 class="card-title">Mot de passe</h5>
                  <p class="card-text">{{employeconnecte().password}}</p>
                </div>
              </div>
            </div>


            <div name="1" class="card2">
              <div class="card card1">
                  <div class="card-body">
                    <h5 class="card-title">Numéro</h5>
                    <p class="card-text">{{employeconnecte().adresse.numero}}</p>
                  </div>
                </div>
      
                <div class="card card1">
                  <div class="card-body">
                    <h5 class="card-title">Voie</h5>
                    <p class="card-text">{{employeconnecte().adresse.voie}}</p>
                  </div>
                </div>
              </div>
  
              <div name="2" class="card2">
                <div class="card card1">
                  <div class="card-body">
                    <h5 class="card-title">Code Postal</h5>
                    <p class="card-text">{{employeconnecte().adresse.cp}}</p>
                  </div>
                </div>
      
                <div class="card card1">
                  <div class="card-body">
                    <h5 class="card-title">Ville</h5>
                    <p class="card-text">{{employeconnecte().adresse.ville}}</p>
                  </div>
                </div>
              </div>
    </div>
          
    </div>
    
    <div id="contentdroite">
    <div class="card mt-3 employeg">
        <div class="card-header entete display-6">Liste des employés</div>
        <div class="card-body max">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Email</th>
                        <th>Mot de passe</th>
                        <th>Numéro</th>
                        <th>Voie</th>
                        <th>Code Postal</th>
                        <th>Ville</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr *ngFor="let emp of list()">
                    <td>{{emp.nom}}</td>
                    <td>{{emp.prenom}}</td>
                    <td>{{emp.email}}</td>
                    <td>{{emp.password}}</td>
                    <td>{{emp.adresse.numero}}</td>
                    <td>{{emp.adresse.voie}}</td>
                    <td>{{emp.adresse.cp}}</td>
                    <td>{{emp.adresse.ville}}</td>
                    <td>
                    <div class="btn-group btn-group-sm " *ngIf="cache">
                      <a class="btn btn-primary" (click)="edit(emp.id)"><i
                              class="bi bi-pencil-square"></i></a>
                      <a class="btn btn-danger" (click)="remove(emp.id)"><i class="bi bi-trash"></i></a>
                    </div>
                    </td>

                    </tr>
                </tbody>

                 
            </table>
          
         </div>
        <div class="card-footer">
              <a class="btn  btn-lg bouton bouton2" (click)="add()"> Ajouter un employé</a> 
              &nbsp;  &nbsp; <a class="btn btn-lg bouton bouton2" (click)="modif()"> Modifier un employé</a>
              &nbsp;  &nbsp; <a class="btn bouton3 btn-lg bouton " (click)="cancel()"> Annuler</a>
            </div>
      </div>
     
    </div>
 </div>
 
<div class="card mt-3 formu" *ngIf="formEmploye">
  <div class="card-header entete display-6">Edition d'un Employé</div>
  <div class="card-body">
    
  <div class="form-group">
    <label for="nom">Nom:</label> 
    <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="formEmploye.nom" required #nom="ngModel" (input)="validateForm()"/>
    <div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="alert alert-danger">
      <div *ngIf="nom.errors['required']">
        Le nom est obligatoire.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="prenom">Prénom:</label> 
    <input type="text" class="form-control" id="prenom" name="prenom" [(ngModel)]="formEmploye.prenom" required #prenom="ngModel" (input)="validateForm()" />
    <div *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)" class="alert alert-danger">
      <div *ngIf="prenom.errors['required']">
        Le prénom est obligatoire.
      </div>
    </div>
  </div> 
  
  <div class="form-group">
    <label for="email">Email:</label> 
    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="formEmploye.email" required #email="ngModel" (input)="validateForm()"/>
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
        <div *ngIf="email.errors['required']">
            L'email est obligatoire.
        </div>
        <div *ngIf="email.errors['email']">
            L'email doit être au format valide.
        </div>
    </div>
</div>

<div class="form-group">
  <label for="password">Mot de passe:</label> 
  <input type="text" class="form-control" id="password" name="password" [(ngModel)]="formEmploye.password" required #password="ngModel" (input)="validateForm()" />
  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
      <div *ngIf="password.errors['required']">
          Le mot de passe est obligatoire.
      </div>
  </div>
</div>
  
  <div class="form-group">
      <label for="numero">Numéro:</label> 
      <input type="text" class="form-control" id="numero" name="numero" [(ngModel)]="formEmploye.adresse.numero" />
  </div>
  
  <div class="form-group">
    <label for="voie">Voie:</label> 
    <input type="text" class="form-control" id="voie" name="voie" [(ngModel)]="formEmploye.adresse.voie" required #voie="ngModel" (input)="validateForm()" />
    <div *ngIf="voie.invalid && (voie.dirty || voie.touched)" class="alert alert-danger">
        <div *ngIf="voie.errors['required']">
            La voie est obligatoire.
        </div>
    </div>
</div>
  
<div class="form-group">
  <label for="cp">Code Postal:</label> 
  <input type="text" class="form-control" id="cp" name="cp" [(ngModel)]="formEmploye.adresse.cp" required #cp="ngModel" (input)="validateForm()" />
  <div *ngIf="cp.invalid && (cp.dirty || cp.touched)" class="alert alert-danger">
      <div *ngIf="cp.errors['required']">
          Le code postal est obligatoire.
      </div>
  </div>
</div>

<div class="form-group">
  <label for="ville">Ville:</label>
  <input type="text" class="form-control" id="ville" name="ville" [(ngModel)]="formEmploye.adresse.ville" required #ville="ngModel" (input)="validateForm()"/>
  <div *ngIf="ville.invalid && (ville.dirty || ville.touched)" class="alert alert-danger">
      <div *ngIf="ville.errors['required']">
          La ville est obligatoire.
      </div>
  </div>
</div>
     
  </div>
  <div class="card-footer">
      <div class="btn-group btn-group-lg float-right">
          <button class="btn bouton2" (click)="save()" [disabled]="!isFormValid"><i class="bi bi-check-square-fill">  valider</i>
          </button>
          <a class="btn bouton3" (click)="cancel()"><i class="bi bi-backspace-fill"> Annuler</i></a>
      </div>
  </div>
</div>
    

    