<div id="content">
    <div class="card mt-3 employe">
        <div class="card-header entete display-6 ">Informations employé</div>
        <div class="card-body">
    
            <div name="1" class="card2">
            <div class="card card1">
                <div class="card-body">
                  <h5 class="card-title">Nom</h5>
                  <p class="card-text">{{employeconnecte().nom}}</p>
                </div>
              </div>
    
              <div class="card card1">
                <div class="card-body">
                  <h5 class="card-title">Prénom</h5>
                  <p class="card-text">{{employeconnecte().prenom}}</p>
                </div>
              </div>
            </div>

            <div name="2" class="card2">
              <div class="card card1">
                <div class="card-body">
                  <h5 class="card-title">Email</h5>
                  <p class="card-text">{{employeconnecte().email}}</p>
                </div>
              </div>
    
              <div class="card card1">
                <div class="card-body">
                  <h5 class="card-title">Mot de passe</h5>
                  <p class="card-text">{{employeconnecte().password}}</p>
                </div>
              </div>
            </div>


            <div name="1" class="card2">
              <div class="card card1">
                  <div class="card-body">
                    <h5 class="card-title">Numéro</h5>
                    <p class="card-text">{{employeconnecte().adresse.numero}}</p>
                  </div>
                </div>
      
                <div class="card card1">
                  <div class="card-body">
                    <h5 class="card-title">Voie</h5>
                    <p class="card-text">{{employeconnecte().adresse.voie}}</p>
                  </div>
                </div>
              </div>
  
              <div name="2" class="card2">
                <div class="card card1">
                  <div class="card-body">
                    <h5 class="card-title">Code Postal</h5>
                    <p class="card-text">{{employeconnecte().adresse.cp}}</p>
                  </div>
                </div>
      
                <div class="card card1">
                  <div class="card-body">
                    <h5 class="card-title">Ville</h5>
                    <p class="card-text">{{employeconnecte().adresse.ville}}</p>
                  </div>
                </div>
              </div>
    </div>
          
    </div>
    
    <div id="contentdroite">
    <div class="card mt-3 employeg">
        <div class="card-header entete display-6">Liste des employés</div>
        <div class="card-body">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Email</th>
                        <th>Mot de passe</th>
                        <th>Numéro</th>
                        <th>Voie</th>
                        <th>Code Postal</th>
                        <th>Ville</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr *ngFor="let emp of listEmploye()">
                    <td>{{emp.nom}}</td>
                    <td>{{emp.prenom}}</td>
                    <td>{{emp.email}}</td>
                    <td>{{emp.password}}</td>
                    <td>{{emp.adresse.numero}}</td>
                    <td>{{emp.adresse.voie}}</td>
                    <td>{{emp.adresse.cp}}</td>
                    <td>{{emp.adresse.ville}}</td>
                    <td>
                    <div class="btn-group btn-group-sm " *ngIf="cache">
                      <a class="btn btn-primary" (click)="edit(emp.id)"><i
                              class="bi bi-pencil-square"></i></a>
                      <a class="btn btn-danger" (click)="remove(emp.id)"><i class="bi bi-trash"></i></a>
                    </div>
                    </td>

                    </tr>
                </tbody>

                
              
             
            </table>
            <div class="card-footer">
              <a class="btn  btn-lg bouton bouton2" (click)="add()"> Ajouter un employé</a> 
              &nbsp;  &nbsp; <a class="btn btn-lg bouton bouton2" (click)="modif()"> Modifier un employé</a>
              &nbsp;  &nbsp; <a class="btn bouton3 btn-lg bouton " (click)="cancel()"> Annuler</a>
            </div>
        
        
         </div>
      
      </div>
     
    </div>
 </div>
 
 
<div class="card mt-3" *ngIf="formEmploye">
  <div class="card-header entete display-6">Edition d'un Employé</div>
  <div class="card-body">

  <div class="form-group">
      <label for="nom">Nom:</label> 
      <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="formEmploye.nom" required #nom="ngModel"/>
      <div *ngIf="nom.invalid && (nom.pristine)"
      class="alert">
    <span *ngIf="nom.errors?.['required']">
      Name is required.
    </span>
  </div>
    </div>

  <div class="form-group">
      <label for="prenom">Prénom:</label> 
      <input type="text" class="form-control" id="prenom" name="prenom" [(ngModel)]="formEmploye.prenom" required />
  </div>
  
  <div class="form-group">
      <label for="email">Email:</label> 
      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="formEmploye.email" required />
  </div>

  <div class="form-group">
    <label for="password">Mot de passe:</label> 
    <input type="text" class="form-control" id="password" name="password" [(ngModel)]="formEmploye.password" required />
</div>
  
  <div class="form-group">
      <label for="numero">Numéro:</label> 
      <input type="text" class="form-control" id="numero" name="numero" [(ngModel)]="formEmploye.adresse.numero" required />
  </div>
  
  <div class="form-group">
      <label for="voie">Voie:</label> 
      <input type="text" class="form-control" id="voie" name="voie" [(ngModel)]="formEmploye.adresse.voie" required />
  </div>
  
  <div class="form-group">
      <label for="cp">Code Postal:</label> 
      <input type="text" class="form-control" id="cp" name="cp" [(ngModel)]="formEmploye.adresse.cp" required />
    </div>

  <div class="form-group">
    <label for="ville">Ville:</label>
     <input type="text" class="form-control" id="ville" name="ville" [(ngModel)]="formEmploye.adresse.ville" />
</div>
     
  </div>
  <div class="card-footer">
      <div class="btn-group btn-group-lg float-right">
          <a class="btn bouton2" (click)="save()"><i class="bi bi-check-square-fill">  valider</i>
         </a>
          <a class="btn bouton3" (click)="cancel()"><i class="bi bi-backspace-fill"> Annuler</i></a>
      </div>
  </div>
</div>
    

    
    
    
    
    