


<!-- *ngIf='form' -->
  
    <div class="row d-flex justify-content-center align-items-center h-100" >
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img src="..\..\assets\images\11.jpg"
                alt="Sample photo" class="img-fluid"
                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase">Inscription Client</h3>
               
                

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="form3Example1m">Nom</label>
                      <input type="text" id="nom" name="nom" required class="form-control form-control-lg" [(ngModel)]="formClient.nom"  required #nom="ngModel" (input)="validateForm()" />
                      
                    </div>
                    
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="form3Example1n">Prénom</label>
                      <input type="text" id="prenom"  required class="form-control form-control-lg"  [(ngModel)]="formClient.prenom" />
                      
                    </div>
                  </div>
                </div>
               
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example90">Email</label>
                  <input type="email" id="form3Example90" required class="form-control form-control-lg" [(ngModel)]="formClient.email"/>
                  
                </div>
              
             
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example99">Mot de Passe</label>
                  <input type="password" id="form3Example99" required class="form-control form-control-lg" [(ngModel)]="formClient.password" [autofocus]="" />
                  
                </div>

                <fieldset >

                <div class="row">
                  <div class="col-md-3 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="form3Example1m">Numéro</label>
                      <input type="text" id="form3Example1m" required class="form-control form-control-lg"[(ngModel)]="formClient.adresse.numero" />
                      
                    </div>
                  </div>
                  
                  <div class="col-md-9 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="form3Example1n">Voie</label>
                      <input type="text" id="form3Example1n" required class="form-control form-control-lg" [(ngModel)]="formClient.adresse.voie" />
                     
                    </div>
                  </div>
                </div>
               
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example9">Ville</label>
                  <input type="text" id="form3Example9" required class="form-control form-control-lg" [(ngModel)]="formClient.adresse.ville"/>
                  
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example9">Code Postal</label>
                  <input type="number" id="form3Example9" required class="form-control form-control-lg"[(ngModel)]="formClient.adresse.cp" />
                  
                </div>
              </fieldset>

         

                <div class="d-flex justify-content-end pt-3">
                  
                  <button type="button"   class="btn btn-success btn-lg ms-2" [routerLink]="['/maison']" routerLinkActive="active" (click)="save()"  [disabled]="!validateForm()" >S'inscrire</button>
                 
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  
    <!-- <div class="container" *ngIf="page2" >

      <h1 style="text-align: center;" >welcome</h1>
     
      <img src="..\..\assets\images\33.jpg" alt="photo" class="img-fluid"
      style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;"/>
      

    </div> -->

  
 

