
  <section class="text-center container">

    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">LES PAINS</h1>
        <p class="lead text-muted">Tous les pains de SoPain Steria sont façonnés à la main au sein de notre fournil avec des farines françaises biologiques dépourvues d’additifs et un levain naturel.
Sa signature ? Des cuissons marquées qui donnent de belles croûtes caramélisées, un parfum singulier, ainsi qu’une mie dense et aérée. Chaque ingrédient utilisé est d’une extrême qualité .</p>
      </div>
    </div>
  </section>

  <div class="album bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <div class="col" *ngFor="let pain of pains">
          <div class="card shadow-sm h-100">
            <figure><div class="bg-image hover-zoom"><img src="..\..\assets\images\{{pain.image_ref}}" class="w-100" alt="Choux Crème" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false"><div class="centered">.
            </div></div><figcaption>{{pain.libelle}}</figcaption></figure>
            <div class="card-body d-flex flex-column">
              <h4 class="card-title">{{pain.libelle}}</h4>
              <span class="flex-grow-1" [innerHTML]="pain.description"></span>
              <div class="d-flex justify-content-between align-items-center mt-3">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ajouter aux favoris</button>
                  <button type="button" (click)="addToCart(pain,1)" class="btn btn-sm btn-outline-secondary">Ajouter au Panier</button>
                </div>
                <small class="text-muted">{{pain.prix | currency:'EUR'}}</small>
              </div>
            </div>
          </div>
        </div>
        


      
  </div>
</div>



