
  <section class="text-center container">

    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">LES PAINS</h1>
        <p class="lead text-muted">Tous les pains de SoPain Steria sont façonnés à la main au sein de notre fournil avec des farines françaises biologiques dépourvues d’additifs et un levain naturel.
Sa signature ? Des cuissons marquées qui donnent de belles croûtes caramélisées, un parfum singulier, ainsi qu’une mie dense et aérée. Chaque ingrédient utilisé est d’une extrême qualité .</p>
      </div>
    </div>
  </section>

  <div class="album bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <figure><div class="bg-image hover-zoom"><img src="..\..\assets\images\pexels-mariana-kurnyk-1775039.jpg" class="w-100" alt="baguette" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false"><div class="centered">.</div></div><figcaption>Baguette Classique</figcaption></figure>
            <div class="card-body">
              <p class="card-text">Notre baguette classique est cuite dans notre four à sole comme tous les autres pains.<br>Elle a une mie blanche, plus compacte et plus dense que la baguette 6 céréales et sa croûte est plus fine.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ajouter au Panier</button>
                </div>
                <small class="text-muted">1,20 €</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <figure><div class="bg-image hover-zoom"><img src="..\..\assets\images\pexels-mariana-kurnyk-1775035.jpg" class="w-100" alt="baguette" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false"><div class="centered">.</div></div><figcaption>Baguette 6 Céréales</figcaption></figure>
            <div class="card-body">
              <p class="card-text">La délicieuse baguette 6 Céréales, <br>agrémentée de graines de sésame, pavot, millet, lin blond et lin brun.<br></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ajouter au Panier</button>
                </div>
                <small class="text-muted">1,80 €</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <figure><div class="bg-image hover-zoom"><img src="..\..\assets\images\tradition.jpg"
              class="w-100" alt="baguette" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false"><div class="centered">.
              </div></div><figcaption>Baguette Tradition</figcaption></figure>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ajouter au Panier</button>
                </div>
                <small class="text-muted">1,70 €</small>
              </div>
            </div>
          </div>
        </div>
       
        <div class="col">
            <div class="card shadow-sm">
              <figure><div class="bg-image hover-zoom"><img src=" ..\..\assets\images\pexels-mariana-kurnyk-1775043.jpg"
                class="w-100" alt="baguette" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false"><div class="centered">.
                </div></div><figcaption>Baguette Tradition</figcaption></figure>
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ajouter au Panier</button>
                  </div>
                  <small class="text-muted">1,70 €</small>
                </div>
              </div>
            </div>
          </div>

        <div class="col">
          <div class="card shadow-sm">
            <figure><div class="bg-image hover-zoom"><img src="..\..\assets\images\complet.jpg"
              class="w-100" alt="baguette" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false"><div class="centered">.
              </div></div><figcaption>Pain Complet</figcaption></figure>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ajouter au Panier</button>
                </div>
                <small class="text-muted">1,70 €</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <figure><div class="bg-image hover-zoom"><img src="..\..\assets\images\sesame.jpg"
              class="w-100" alt="baguette" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false">
              <div class="centered"></div></div><figcaption>Baguette Sésame</figcaption></figure>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ajouter au Panier</button>
                </div>
                <small class="text-muted">1,70 €</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <figure><div class="bg-image hover-zoom"><img src="..\..\assets\images\burger.jpg"
              class="w-100" alt="baguette" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="true"><div class="centered">.
              </div></div><figcaption>Pain Burger</figcaption></figure>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ajouter au Panier</button>
                </div>
                <small class="text-muted">1,70 €</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <figure><div class="bg-image hover-zoom"><img src="..\..\assets\images\pexels-mariana-kurnyk-1775043.jpg" class="w-100" alt="baguette" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false"><div class="centered">.</div></div><figcaption>Pain aux Noix</figcaption></figure>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ajouter au Panier</button>
                </div>
                <small class="text-muted">1,70 €</small>
              </div>
            </div>
          </div>
        </div>






